@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// setting
img{
    width: 100%;
    display: block;
}

body {
    background: #fff;
    font-family: 'Noto Sans TC', sans-serif;
}
i.material-icons{
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
          url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
          url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
      }
}
header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    top: 0;
    .innerBox{
        width: 96%;
        margin: 0 auto;
        overflow: hidden;
        h1{
            float: left;
            font-size: 0;
            img{
                height: 40px;
                margin-top: 20px;
            }
        }
        .contact{
            float: right;
            .list{
                width: 40px;
                margin-top: 20px;
                margin-right: 14px;
                float: left;
                &:last-child{ margin-right: 0;}
            }
        }
    }
}
section{
    .theme{
        padding-top: 50px;
        position: relative;
        .contaier{
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            // position: relative;
            @media (max-width:1600px) {
                max-width: 1200px;
            }
            .imgBox{
                width: 920px;
                position: absolute;
                bottom: 0;
                left: 0;
                .pc{ display: block;}
                .mob{ display: none;}
                @media (max-width:1600px) {
                    width: 800px;
                }
                @media (max-width:1440px) {
                    width: 660px;
                }
                @media (max-width:1200px) {
                    width: 600px;
                }
                @media (max-width:960px) {
                    width: 84%;
                    left: 8%;
                    .pc{ display: none;}
                    .mob{ display: block;}
                }
            }
            .txtBox{
                width: 36%;
                float: right;
                margin-right: 10%;
                margin-top: 5%;
                @media (max-width:1200px) {
                    margin-right: 5%;
                }
                @media (max-width:960px) {
                    width: 60%;
                    float: unset;
                    margin-right: 0;
                    margin-top: 0;
                    position: absolute;
                    top: 200px;
                    left: 20%;
                }
                h2, h3, h4{ width: 100%; margin-top: 20px;}
            }
            .title{
                width: 540px;
                margin: 0 auto;
                position: relative;
                z-index: 5;
                @media (max-width:800px) {
                    width: 70%;
                }
            }
            .timer{
                width: 1200px;
                margin: 0 auto;
                padding: 50px 0;
                overflow: hidden;
                position: relative;
                z-index: 5;
                @media (max-width:1200px){
                    width: 90%;
                    padding: 10% 0;
                }
                .item{
                    width: 25%;
                    float: left;
                    text-align: center;
                    border-right: 1px solid #bfbfbf;
                    box-sizing: border-box;
                    &:last-child{ border-right: 0;}
                    span{
                        font-size: 70px;
                        height: 70px;
                        line-height: 70px;
                        display: block;
                        text-align: center;
                        color: #000;
                        @media (max-width:800px) {
                            font-size: 10vw;
                            height: 10vw;
                            line-height: 10vw;
                        }
                    }
                    &:after{
                        font-size: 22px;
                        color: #a8a8a8;
                        display: block;
                        padding-top: 10px;
                    }
                }
                .day{
                    &:after{ content: "天";}
                }
                .hour{
                    &:after{ content: "時";}
                }
                .min{
                    &:after{ content: "分";}
                }
                .sec{
                    &:after{ content: "秒";}
                }
                    
            }
            .intro{
                width: 525px;
                margin: 0 auto;
                position: relative;
                z-index: 5;
                @media (max-width:800px) {
                    width: 76%;
                }
                .phone{
                    text-align: center;
                    font-size: 32px;
                    color: #353535;
                    margin-top: 20px;
                    font-weight: 400;
                    @media (max-width:800px) {
                        font-size: 6vw;
                    }
                }
                .btn{
                    width: 230px;
                    height: 70px;
                    margin: 30px auto 0;
                    @media (max-width:960px) {
                        // height: 60px;
                    }
                    a{
                        color: #fff;
                        background-color: #EF8200;
                        text-align: center;
                        display: block;
                        border-radius: 20px;
                        height: 40px;
                        @media (max-width:960px) {
                            height: 60px;
                            line-height: 52px;
                        }
                        i{
                            vertical-align: middle;
                            font-size: 28px;
                            margin-top: 5px;
                        }
                        span{
                            vertical-align: middle;
                            font-size: 24px;
                        }

                    }
                }
            }
            .icon{
                width: 13%;
                position: absolute;
                bottom: 10%;
                right: 50%;
                transform: translateX(300%);
                z-index: 5;
                .pc{ display: block;}
                .mob{ display: none;}
                @media (max-width:800px) {
                    width: 30%;
                    position: relative;
                    bottom: unset;
                    right: unset;
                    transform: translateX(0);
                    margin: 5% auto 0;
                    .pc{ display: none;}
                    .mob{ display: block;}
                }
                @media (max-width:520px) {
                    width: 55%;
                }
            }
            .features{
                width: 75%;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                z-index: 5;
                @media (max-width:1200px) {
                    width: 70%;
                    margin: 0 auto;
                }
                @media (max-width:960px) {
                    width: 90%;
                }
                .item{
                    width: 33.333333%;
                    display: inline-block;
                    margin-right: -4px;
                    &:nth-child(4), &:nth-child(5), &:nth-child(6){
                        margin-top: -10%;
                    }
                    @media (max-width:960px) {
                        width: 50%;
                        // margin: 0 auto;
                        &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
                            margin-top: -10%;
                        }
                    }
                }
            }
            .mapBox{
                width: 58%;
                height: 480px;
                float: left;
                // background-color: #EF8200;
                @media (max-width:960px) {
                    width: 100%;
                    float: unset;
                }
                @media (max-width:960px) and (orientation: portrait) {
                    width: 90%;
                    margin: 0 auto;
                    height: 300px;
                }
                
                @media (max-width:800px) {
                    height: 200px;
                }
            }
            .formBox{
                width: 37%;
                float: right;
                @media (max-width:960px) {
                    width: 100%;
                    float: unset;
                    margin-top: 10%;
                }
                @media (max-width:960px) and (orientation: portrait) {
                    width: 60%;
                    margin: 0 auto;
                }                
                @media (max-width:800px) {
                    width: 60%;
                    margin: 0 auto;
                }            
                @media (max-width:600px) {
                    width: 90%;
                    margin: 0 auto;
                }
                h2{
                    margin-bottom: 20px;
                    // margin-top: 20px;           
                    @media (max-width:600px) {
                        width: 80%;
                        margin: 20px auto;
                    }
                }
                .item{
                    margin-bottom: 10px;
                    span{
                        width: 100%;
                        display: block;
                        font-size: 14px;
                        color: #000;
                        letter-spacing: 2px;
                        height: 30px;
                        line-height: 30px;
                        text-align: left;
                        @media (max-width:600px) {
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                    input{
                        width: 100%;
                        height: 48px;
                        box-sizing: border-box;
                        border: 1px solid #bfbfbf;
                        padding: 0 10px;         
                        @media (max-width:600px) {
                            height: 30px;
                        }
                        &:focus{ outline: 0;}
                    }
                }
                button{
                    width: 360px;
                    height: 40px;
                    display: block;
                    margin: 0 auto;
                    margin-top: 40px;
                    border-radius: 20px;
                    font-size: 24px;
                    background-color: #EF8200;
                    color: #fff;
                    border: 0;
                    font-family: 'Noto Sans TC', sans-serif;
                    -webkit-appearance:none;
                    appearance: none;
                    &:focus{ outline: 0;}
                    &:hover{ cursor: pointer;}
                    @media (max-width:1200px) {
                        width: 100%;
                    }
                    @media (max-width:960px) {
                        width: 50%;
                        height: 60px;
                        border-radius: 30px;
                    }     
                    @media (max-width:600px) {
                        height: 30px;
                        margin-top: 20px;
                        border-radius: 15px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .theme1{
        background-color: #EF8200;
    }
    .theme2{
        position: relative;
        overflow: hidden;
        .bg{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            .cloud_left{
                position: absolute;
                left: 50px;
                top: 50%;
                animation: 10s 0s cloud infinite alternate both;
                @media (max-width:1600px) {
                    width: 15%;
                    left: 2%;
                }
            }
            .cloud_right{
                position: absolute;
                right: -280px;
                top: 12%;
                animation: 10s 2s cloud infinite alternate both;
                @media (max-width:1600px) {
                    width: 30%;
                    right: -15%;
                }
            }                
            @keyframes cloud {
                from{
                    transform: translateX(-50px) scale(1.05);
                }
                to{
                    transform: translateX(0px) scale(1);
                }
            }
            .ribbon{
                width: 100%;
                height: 100%;
                position: absolute;
                top: -100px;
                overflow: hidden;
            }
        }
    }
    .theme3{
        position: relative;
        overflow: hidden;
        .bg{
            width: 100%;
            height: 0;
            padding-bottom: 14%;
            position: absolute;
            top: 30%;
            left: 0;
            transform: translateY(-50%);
            z-index: 2;
            background-color: #4DBCBC;
            @media (max-width:800px) {
                padding-bottom: 28%;
                top: 28%;
            }
            > div{ position: absolute;}
            .ship1{ 
                width: 12%; top: -50%; left: 4%; animation: 5s 0s ship infinite alternate both;
                @media (max-width:1400px) { top: -40%;}
            }
            .ship2{ 
                width: 2%;top: -10%; left: 35%; animation: 6s 1s ship infinite alternate both;
                @media (max-width:1400px) { top: 0%;}
                @media (max-width:800px) {
                    width: 5%;
                }
            }
            .ship3{ 
                width: 2%;top: 0%; left: 38%; animation: 5s 2s ship infinite alternate both;
                @media (max-width:1400px) { top: 10%;}
                @media (max-width:800px) {
                    width: 5%;
                }
            }
            .ship4{ 
                width: 6%;top: -30%; left: 62%; animation: 4s 3s ship infinite alternate both;
                @media (max-width:1400px) { top: -20%;}
                @media (max-width:800px) {
                    width: 10%;
                }
            }
            .leaf{ 
                width: 2%;top: 0%; left: 58%; animation: 5s 0s ship infinite alternate both;
                @media (max-width:1400px) { top: 10%;}
            }
            .house{ 
                width: 38%; bottom: 0; right: -21%; z-index: 1;
            }
            .skyscraper{ 
                width: 15%; bottom: 20%; right: -7%; animation: 80s turn360 infinite;
                @media (max-width:800px) {
                    width: 27%;
                }
            }
            @keyframes turn360 {
                from{
                    transform: rotate(0deg);
                }
                to{
                    transform: rotate(360deg);
                }                
            }                
            @keyframes ship {
                from{
                    transform: translateX(-20px) translateY(10px);
                }
                to{
                    transform: translateX(0px) translateY(0px);
                }
            }
        
        }
    }
    .theme4 .contaier{
        width: 90%;
        margin: 0 auto;
    }
    .popup{
        width: 300px;
        height: 100px;
        line-height: 50px;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: #fff;
        padding: 0 10px;
        z-index: 20;
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        font-size: 14px;
        display: none;
        .close{
            width: 50px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            border: 1px solid #bbb;
            margin: 0 auto;
            float: none;
            &:hover{ cursor: pointer;}
        }
    }
    .popup.is-acted{
        display: block;
    }
}
footer{
    width: 100%;
    height: 80px;
    background-color: #4DBCBC;
    color: #000;
    text-align: center;
    line-height: 80px;
}

.drop {
	position: absolute;
	top: 0;	
	background-color: #fff;
}
.snow {
	height: 12px;
	width: 6px;
	border-radius: 2px;
    background-color: #5780C1;
    &:nth-child(2n+1){ background-color: #71BF87;}
    &:nth-child(3n+2){ background-color: #E0E0DF;}
    &:nth-child(4n+3){ background-color: #D75562;}
    &:nth-child(5n+4){ background-color: #E1C058;}
    &:nth-child(2n-1){ transform: rotate(20deg);}
    &:nth-child(3n-2){ transform: rotate(40deg);}
    &:nth-child(4n-3){ transform: rotate(60deg);}
    &:nth-child(5n-4){ transform: rotate(75deg);}
}


.animate {
	animation: falling 8.5s infinite ease-in;	
}


@keyframes falling {
	0% {top: 0px; opacity: 1;}
	100% {top: 1500px; opacity: 0}
}